header {
    text-align: right;
   }      
     
#mainnav > a {
    display: block;
    color: yellow;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
#mainnav > a {
    display: block;
    color: #000;
    padding: 8px 16px;
}   
/* change the link color on hover */
#mainnav > a:hover {
    background-color: #555;
    color: white;
}


