/* import CSS button style */
@import url(button.css);

/* The whole page */
body {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto auto auto auto;
    color: black;
    background-color: black;
    margin: 40px;
}

/* Top section */
header {
    grid-area: 1 / 1 / 2 / 4;
    border-left: 2px solid #FD9;
    border-right: 2px solid #FD9;
    border-top: 2px solid #FD9;
    text-align: center;
}

header > img {
    grid-area: 1/1/2/4;
}

header > h1 {
    font-size: 36px;
    color: #F70;
}
header > h2 {
    margin: 0;
    background-color: #F70;
    color: #FD9;
    font: bold 12pt/24px serif;
    text-align: center;
}
li{
    padding: 5px;
}

/* Navigation box */
nav {
    grid-area: 2 / 1 / 3 / -2;
    margin-top: 15px;
    padding: 10px;
    border: 3px dotted #FD9;
    background-color: #F70;
}
nav > a {
    display: block;
    margin-top: 7px;
    font: bold 13pt/24px sans-serif;
}
nav > a, nav > a:visited {
    color: black;
    text-decoration: none;
}
nav > a:hover {
    color: #FD9;
    text-decoration: none;
    background-color: darkorange;
}

/* Main */
main {
    grid-area: 2 / 2 / 4 / 3;
    margin-right: -339px;
    margin-top: 15px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: lightsalmon;
    border: 5px dotted #FD9;
}
main p {
    text-align: justify;
    font-size: large;
}

/* Footer */
footer {
    grid-area: 4 / 1 / 5 / 4;
    margin-top: 20px;
    text-align: center;
}
